<div class="section-container--header row">
  <div class="col-md-10 col-xs-8">
    <h2>Edit Transaction in <em><%= @account.name %></em></h2>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= render 'form' %>
  </div>
</div>
