// -----------------------------------------------------------------------------
// This file contains all styles related to the fa component.
// -----------------------------------------------------------------------------

.fa--wide {
  width: 1em;
}

.fa--bold {
  font-weight: bold;
}

.fa--right-padding {
  padding-right: 0.15em;
}
