<div class="section-container--header row">
  <div class="col-md-10 col-xs-8">
    <h2>My Accounts</h2>
  </div>
  <div class="col-md-2 col-xs-4 col--no-gutter">
    <%= link_to 'New Account', new_account_path, class: 'btn btn-primary' %>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="listing">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Name</th>
              <th>Account type</th>
              <th>Balance</th>
              <th class="col-md-2 col-xs-4"></th>
            </tr>
          </thead>
          <tbody>
            <%= render @accounts %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
