<div class="section-container--header row">
  <div class="col-md-10 col-xs-8">
    <h2>New Account</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <%= render 'form', account: @account %>
  </div>
</div>
